@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    margin-top: 10vh;
    width: 45vw;
    max-width: 800pt;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #6d6d6d;
}

.decor {
    width: 50%;
    background-image: url("/Images/Decor-Img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    width: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10pt;
}
.intro{
    text-align: center;
}
.title {
    color: rgb(87, 87, 223);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.desc{
    font-size: 10pt;
}

.inputfield {
    margin: 0 20pt 0 20pt;
    display: flex;
    flex-direction: column;
    gap: 5pt;
}

.input {
    height: 30pt;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
}

.specialInput {
    display: flex;
    gap: 20pt;
}

.specialInput label {
    margin-top: auto;
    margin-bottom: auto;
}

.phoneNumber {
    display: flex;
    gap: 5pt;
}

.cCode {
    width: 20pt;
}

.submitBtn {
    align-self: center;
    color: white;
    border: none;
    border-radius: 5px;
    width: 60pt;
    height: 20pt;
    background-image: linear-gradient(to bottom, rgb(133, 133, 190), rgb(96, 96, 255));
    transition: all ease-in 5ms;
}

.submitBtn:hover {
    background-image: linear-gradient(to bottom, rgb(133, 133, 190), rgb(67, 67, 252))
}

.spacer {
    border-bottom: 1px solid rgb(156, 156, 156);
    margin: 10pt;
}

.login {
    font-size: 10pt;
    margin-top: 0;
    margin-left: 10pt;
}

.errMsg {
    visibility: hidden;
    color: red;
    margin: 0;
    font-size: 8pt;
    margin-left: 10pt;
}

  
  .state {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-state {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-state button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;  
    border: none;
    background: none;
    width: 100%;
   
  }
  
  .dropdown-state button:hover {background-color: #f1f1f1}
  
  .state:hover .dropdown-state {
    display: block;
  }




  @media screen and (max-width:1350px) {
      .decor{
          display: none;
      }
      .form, .container{
          width: auto;
      }
      
  }